.container {
  width: 100%;
  padding: 1rem 0.8rem;

  display: grid;
  grid-auto-flow: row;
  grid-gap: 2.8rem;
}

@media (min-width: 66rem) {
  .container {
    max-width: 60rem;
    padding: 4rem 0;
  }
}

@media print {
  .container {
    padding: 0.5in;
    grid-gap: 2.3rem;
  }
}
