.introContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .introContainer {
    flex-direction: column-reverse;
  }

  .name {
    margin-top: 2rem;
  }
}

.avatarContainer {
  margin-right: 4rem;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .avatarContainer {
    margin-top: 0;
    margin-right: 0;
    align-self: center;
  }
}

@media print {
  .avatarContainer {
    margin-right: 2rem;
  }
}

.avatar {
  /* clip-path: circle(40%); */
  border-radius: 100%;
}

.contactList {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

@media not print {
  .contactListNode {
    margin-bottom: 0;
  }
}

@media print {
  .contactList {
    line-height: 0.7rem;
  }
}

@media print {
  .xpContainer {
    padding-left: 0.7rem;
  }
}

.xpHeader {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 1.5rem;

  margin: 1.2rem 0;
}

@media only screen and (max-width: 66rem) {
  .xpHeader {
    grid-auto-flow: row;
    grid-auto-columns: initial;
    grid-gap: 0;
  }
}

@media print {
  .xpHeader {
    margin-top: 0rem;
    margin-bottom: 0.8rem;
  }
}

.xpHeaderNode {
  margin-bottom: 0;
}

.xpTitle {
  composes: xpHeaderNode;
}

@media print {
  .xpTitle {
    margin-bottom: 0.2rem;
  }
}

.xpDate {
  composes: xpHeaderNode;
  font-style: italic;
}

@media print {
  .xpDate {
    font-size: 90%;
  }
}

/* @media print {
  .xpDate {
    margin-bottom: 0.2rem;
  }
} */

.card {
  /*  */
}

@media print {
  .cardsContainer > * {
    padding-top: 0;
  }
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardLaunch {
  font-size: 80%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 0.3rem;
}

@media print {
  .cardLaunch {
    display: none;
  }
}

.cardLaunchIcon {
  width: 1rem;
  height: 1rem;
}

@media print {
  .cardTitle {
    margin-bottom: 0.45rem;
  }

  .cardDescription {
    margin-bottom: 0.45rem;
  }
}

.section {
  page-break-before: auto;
  margin: 0;
}
